src/main/mule/worker.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="GeoLocation_Request_configuration" doc:name="HTTP Request configuration" doc:id="b6bc0bf4-610d-477f-b635-abe4ce41195b" >
		<http:request-connection protocol="HTTPS" host="ip-geolocation.whoisxmlapi.com" port="443" />
	</http:request-config>
	<http:request-config name="WeatherAPI_Request_configuration" doc:name="HTTP Request configuration" doc:id="5ea83526-ecfd-4b3b-a51b-085bef0b1315" >
		<http:request-connection protocol="HTTPS" host="weather.visualcrossing.com" port="443" />
	</http:request-config>
	<http:request-config name="ZipCodeBase_Request_configuration" doc:name="HTTP Request configuration" doc:id="e7d5149a-3c81-42ce-bbfd-1533dd575dd6" >
		<http:request-connection protocol="HTTPS" host="app.zipcodebase.com" port="443" />
	</http:request-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="c6466c22-bcad-48a6-b7ef-5230cf48b5ee" >
		<file:connection workingDir="/Users/thishya/Desktop/Sundeep MuleSoft/WorkSpace/rocketweatherapi/src/main/resources/location" />
	</file:config>
	<flow name="weatherDataFlow" doc:id="e39936f7-97fd-4671-b27b-b86e10bd807c" >
		<set-variable value="#[attributes.queryParams.ip]" doc:name="ipAddress" doc:id="eb45b39b-84aa-4359-9432-33b9d0afc21d" variableName="ipAddress"/>
		<http:request method="GET" doc:name="IP to ZipCode API" doc:id="08b4b831-91b3-4908-a771-fb340245224e" config-ref="GeoLocation_Request_configuration" path="/api/v1">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"ipAddress" : attributes.queryParams.ip,
	"apiKey" : "at_NKAvQJugkoo2m4PgjM8yCOW3yoO4D"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="c7d87528-f381-4e92-a396-1d747d8c6a5d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="postalCode" ><![CDATA[%dw 2.0
output application/java
---
payload.location.postalCode]]></ee:set-variable>
				<ee:set-variable variableName="location" ><![CDATA[%dw 2.0
output application/java
---
payload.location.region]]></ee:set-variable>
				<ee:set-variable variableName="country" ><![CDATA[%dw 2.0
output application/java
---
payload.location.country]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[payload.location.postalCode]" doc:name="postalCode" doc:id="78264d4d-508d-4323-b331-5b078f74e8c8" variableName="postalCode"/>
		<file:read doc:name="Read" doc:id="f3cba252-06e1-4132-ba73-a004259d5039" path="${app.home}/location/ZipCodes.csv" />
		<ee:transform doc:name="locationValid" doc:id="354af51a-49b5-434f-a22f-7b5794581ec6">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="locationValid"><![CDATA[%dw 2.0
output application/json
---
payload.zipCodes contains(vars.postalCode)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="59185d70-6c0a-4677-b635-58ef1f9157b2" message=" &gt;&gt;&gt;&gt;&gt;&gt;  #[vars.postalCode]"/>
		<choice doc:name="Choice" doc:id="1066ef0c-35b2-4d14-8913-91ac2f5469cc" >
			<when expression="#[vars.locationValid == true]">
				<http:request method="GET" doc:name="Weather Data API" doc:id="5b514628-24c2-4481-b2f9-d19e805b6ed4" config-ref="WeatherAPI_Request_configuration" path="/VisualCrossingWebServices/rest/services/weatherdata/forecast">
			<http:query-params><![CDATA[#[output application/java
---
{
	"unitGroup" : "us",
	"locations" : vars.location ++ ',' ++ vars.country,
	"contentType" : "json",
	"aggregateHours" : "24",
	"key" : "8YBPKGUNGYSVUNVF46NFUMKMM",
	"forecastDays" : "1"
}]]]></http:query-params>
		</http:request>
				<ee:transform doc:name="Transform Message" doc:id="bbb3eb7a-364d-40a5-9256-ee4bd6c57663">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.locations mapObject ({
	Location: $.id,
	"Timezone": $.tz,
	Datetime: "",
	"Weather Conditions": {
		"High Temp": $.values.maxt[0],
		"Low Temp": $.values.mint[0],
		"Current temp": $.currentConditions.temp,
		"Current outlook": $.currentConditions.icon,
		Sunrise: $.currentConditions.sunrise,
		Sunset: $.currentConditions.sunset,
		"Wind Speed": $.currentConditions.wspd,
	    "Heat Index": $.currentConditions.heatindex,
		Humidity: $.currentConditions.humidity,
		"Snow Depth": $.currentConditions.snowdepth,
		"Cloud Cover": $.currentConditions.cloudcover,
		Dew: $.currentConditions.dew,
		"Wind Gust": $.currentConditions.wgust,
		"Wind Chill": $.currentConditions.windchill
	}
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="652104b7-cf23-4b47-b3f2-44454fe8c781" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "Ip Address": vars.ipAddress,
    "postal Code": vars.postalCode,
    "location": vars.location,
    "message": "An Invalid IP Address has been received which is not with in rocket companies locations"
 }]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="LocationZipCode_flow" doc:id="c65e212d-9845-4015-be67-3f82143ca786" >
		<http:listener doc:name="Listener" doc:id="ce2b1d92-182a-4657-b5e8-299eb61eb3d3" config-ref="rocketweatherapi-httpListenerConfig" path="/locations"/>
<file:read doc:name="Locations File" doc:id="46e635da-f3c0-4df6-98a9-24adf7c37e80" path="${app.home}/location/Locations.csv" outputMimeType="application/csv"/>
		<ee:transform doc:name="Transform Message" doc:id="64ba2fcf-1bef-4779-8190-a2153b131f2d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="locations" ><![CDATA[%dw 2.0
output application/json
---
payload.State]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="9f21f096-ac23-4afd-96a5-6e05617224f6" collection="#[vars.locations]">
			<http:request method="GET" doc:name="ZipCodes List API" doc:id="5a1bc057-4561-4f31-aad0-3a3c48516dea" config-ref="ZipCodeBase_Request_configuration" path="/api/v1/code/state">
			<http:query-params><![CDATA[#[output application/java
---
{
	"country" : "us",
	"apikey" : "b962d6d0-3da4-11ed-acfd-3d9bc3cb78d6",
	"state_name" : payload
}]]]></http:query-params>
				
		</http:request>
			<ee:transform doc:name="Transform Message" doc:id="504ae7c2-b3f1-48b0-8978-9382c7ccb055" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=true
---


payload.results map{
	location: payload.query.state,
	zipCodes: $
	}

]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="ZipCodes File" doc:id="01f64dbf-45e9-4c13-96a1-b655dcfb5906" path="ZipCodes.csv" lock="true" mode="APPEND" config-ref="File_Config"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="1db84f45-ec2d-4215-82c4-a06893d49d00" />
	</flow>
</mule>
